<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{sensor.name}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

    <ion-item>
        <ion-label>Choose a graph</ion-label>
        <ion-select value="command" okText="Okay" cancelText="Dismiss" [(ngModel)]="value" (ionChange)="sendDeviceValue();">
          <ion-select-option  value="0">Order by day</ion-select-option>
          <ion-select-option value="1">Order by week</ion-select-option>
          <ion-select-option value="2">Order by month</ion-select-option>
        </ion-select>
      </ion-item>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Chart sensors</ion-card-subtitle>
    </ion-card-header>
    <google-chart stye="padding:30px" *ngIf="pieChartDataDay" [data]="pieChartDataDay"></google-chart>
  </ion-card>

  <!--<ion-card>
    <ion-card-header>
      <ion-card-subtitle>Chart sensors by week</ion-card-subtitle>
    </ion-card-header>
    <google-chart stye="padding:30px" *ngIf="pieChartDataWeek" [data]="pieChartDataWeek"></google-chart>
  </ion-card>-->
  


  <ion-item *ngFor="let item of (average | async)">
    Last value : {{item.data}} <br> <br>
    Type : {{item.data_type}}  <br> <br>
    Unit : {{item.unit}}
  </ion-item>



</ion-content>
