

input-box{
  margin-top: 200px;
}

img{
  margin-top: 100px;
  height: 65%;
  width: 65%;
}

ion-item{

  --background: #3880ff;
  --color: #fff;
}
ion-button{
  --color: #3880ff;
  --background: #fff;
}

.signup{
  position: fixed;
  bottom:20px;
  text-decoration: underline;
}

.center{
  text-align: center;
}