<ion-content color="primary" padding>
  <form #form="ngForm" (ngSubmit)="login(form)">
    <ion-grid>
      <ion-row color="primary" justify-content-center>
        <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
          <div text-center>
            <img src="../../assets/images/atlantis-logo3.png" alt="logo">
          </div>

          <br><br><br>

          <!--<div padding>
            <ion-item>
              <ion-input name="email" type="email" placeholder="email@gmail.com" ngModel required></ion-input>
            </ion-item>
            <ion-item>
              <ion-input name="password" type="password" placeholder="Password" ngModel required></ion-input>
            </ion-item>
          </div>

          <div padding>
            <ion-button size="large" type="submit" [disabled]="form.invalid" expand="block" (click)="goTo()">Login</ion-button>
          </div>-->
          

          
          <div class="center" *ngIf="!isUserLoggedIn()">
              <!--<ion-button (click)="login()">Login</ion-button>
              <ion-button expand="full" (click)="signup()">Sign Up</ion-button>-->



              <ion-button expand="block" (click)="login()">
                  <ion-icon slot="end" name="ios-log-in"></ion-icon>
                  Sign in
              </ion-button>
          </div>
          
            <div class="center" *ngIf="isUserLoggedIn()">
              <ion-button expand="block" (click)="goTo()">Enter</ion-button>
              <ion-button expand="block" color="danger" (click)="logout()">Logout</ion-button>
            </div>

        </ion-col>
      </ion-row>
    </ion-grid>

    <div class="center" *ngIf="!isUserLoggedIn()">
    <ion-footer>
      <div class="signup" (click)="signup()">
        <ion-text>You don't have an account ? Sign up now...</ion-text>
      </div>
    </ion-footer>
    </div>


  </form>
</ion-content>