<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button (ionInput)="getItems($event)"></ion-back-button>
    </ion-buttons>
    <ion-title>List all devices</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-searchbar></ion-searchbar>
  <ion-list>
    <!--<ion-item button clear *ngFor="let devicelist of devicelists" (click)="itemClicked(devicelist)">
      {{devicelist.name}}
    </ion-item>-->
    <ion-item button clear *ngFor="let item of (result | async)" (click)="itemClicked(item)">
      {{item.name}} - {{item.mac_address}}
    </ion-item>
  </ion-list>
</ion-content>
